@model Entitys.ArticuloTienda
@{
    ViewData["Title"] = "ArticuloTiendaAsignadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2>Lista de Articulos de la tienda</h2>
    <hr />

    <div class="row">
        <div class="form-group">

            @Html.HiddenFor(model => model.Tienda.IdTienda)

        </div>

        <div style="float:left">
            <div class="col-5">
                @Html.LabelFor(model => model.Tienda.Sucursal, "Nombre de la tienda")

                @Html.TextBoxFor(model => model.Tienda.Sucursal, new { @class = "form-control", @ReadOnly="true" })
            </div>

        </div>

        <div style="float:right">
            @Html.ActionLink("Agregar", "ArticuloTiendaNoAsignadas", "ArticuloTienda", new { IdTienda = Model.Tienda.IdTienda }, htmlAttributes: new { @class = "btn btn-success" })
        </div>
    </div>
</div>

<div class="d-flex justify-content-around">
    <div class="row mt-5">
        <table class="table table-striped">
            <thead class="table-success">
                <tr>
                    <th style="display :none;">
                        IdArticulo
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Codigo
                    </th>
                    <th>
                        Descripcion
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Imagen
                    </th>
                    <th>
                        Stock
                    </th>
                    <th>
                        Eliminar
                    </th>
                </tr>
            </thead>

            <tbody class="table-light">
                @foreach (Entitys.ArticuloTienda articuloTienda in Model.ArticuloTiendas)
                {
                    <tr>
                        <td style="display :none;">
                            @articuloTienda.Articulo.IdArticulo
                        </td>
                        <td>
                            @articuloTienda.Articulo.Nombre
                        </td>
                        <td>
                            @articuloTienda.Articulo.Codigo
                        </td>
                        <td>
                            @articuloTienda.Articulo.Descripcion
                        </td>
                        <td>
                            @articuloTienda.Articulo.Precio
                        </td>
                        <td>
                            @if (articuloTienda.Articulo.Imagen != null)
                            {
                                var imagenSRC = $"data:image;base64,{articuloTienda.Articulo.Imagen}";
                                <img src='@imagenSRC' height='150px' width='150px'>
                            }
                            else
                            {
                                <img src="~/Image/sin logo.jpg" height='150px' width='150px'>

                            }
                        </td>
                        <td>
                            @articuloTienda.Articulo.Stock
                        </td>
                        <td class="text-center">
                            <a class="btn btn-danger bi-trash" href="@Url.Action("Delete", "ArticuloTienda", new { IdTienda = articuloTienda.Tienda.IdTienda, IdArticulo = articuloTienda.Articulo.IdArticulo})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
            @Html.ActionLink("Regresar", "GetAll", "ArticuloTienda", htmlAttributes: new { @class = "btn btn-danger" })
        </div>
    </div>
</div>

